body {
    margin: 0;
    font-family: Arial;
    background: #f2f2f2;
}

.top-header {
    display: flex;
    align-items: center;
    background: #c00000;
    color: white;
    padding: 10px;
}

.logo {
    width: 70px;
    margin-right: 10px;
}

.lang-btn {
    margin-left: auto;
    background: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.breaking {
    display: flex;
    background: black;
    color: white;
}

.breaking span {
    background: yellow;
    color: black;
    padding: 5px;
}

nav {
    background: #222;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.slider {
    background: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 15px;
    padding: 15px;
}

.news-card {
    background: white;
    padding: 15px;
    text-decoration: none;
    color: black;
    border-left: 4px solid #c00000;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}